<header>
    <a id="title-link" href="https://github.com/androidovshchik/AngularEpubViewer" target="_blank">AngularEpubViewer</a>
    <span id="subtitle">A simple epub viewer component for angular4+ websites.</span>
</header>
<main>
    <angular-epub-viewer [padding]="'16px'" [autoPagination]="true" [autoMetadata]="true" [autoTOC]="true"
                         (onDocumentReady)="onDocumentReady()" (onChapterUnloaded)="onChapterUnloaded()"
                         (onChapterDisplayed)="onChapterDisplayed($event)" (onSearchFinished)="onSearchFinished($event)"
                         (onPaginationComputed)="onPaginationComputed($event)" (onLocationFound)="onLocationFound($event)"
                         (onMetadataLoaded)="onMetadataLoaded($event)" (onTOCLoaded)="onTOCLoaded($event)"
                         (onErrorOccurred)="onErrorOccurred($event)" #epubViewer>
    </angular-epub-viewer>
</main>
<aside>
    <fieldset>
        <p>Select epub document</p>
        <select [disabled]="lockDocumentChoose" class="element" [(ngModel)]="chosenDocument" (change)="onSelectedBook()">
            <option *ngFor="let book of zippedBooks" [ngValue]="book">
                {{ book.name }}
            </option>
        </select>
        <p style="margin-top: 4px;">Pick epub document</p>
        <input [disabled]="lockDocumentChoose" style="margin-bottom: 4px;" #picker type="file"
               accept="application/epub+zip" (change)="openFile($event)">
        <p>Select unzipped epub document</p>
        <select class="element" [(ngModel)]="chosenDocument" (change)="onSelectedBook()">
            <option *ngFor="let book of unzippedBooks" [ngValue]="book">
                {{ book.name }}
            </option>
        </select>
    </fieldset>
    <fieldset>
        <p>Pagination</p>
        <input [disabled]="lockPagination" style="padding: 4px 0;" class="element" type="range" min="1" max="100" value="0">
        <button class="button" (click)="epubViewer.previousPage()">
            <i class="fa fa-arrow-left fa-lg"></i>
        </button>
        <button class="button" (click)="epubViewer.nextPage()">
            <i class="fa fa-arrow-right fa-lg"></i>
        </button>
        {{ currentPage }} / {{ totalPages }}
    </fieldset>
    <fieldset>
        <p>Table of contents</p>
        <select [disabled]="lockTOC" class="element" [(ngModel)]="chosenChapter" (change)="onChapter()">
            <option *ngFor="let chapter of chapters" [ngValue]="chapter">
                {{ chapter.label }}
            </option>
        </select>
    </fieldset>
    <fieldset style="margin-bottom: 16px;">
        <p>Search <i>in current chapter</i></p>
        <input [disabled]="lockSearch" class="element" type="text" [(ngModel)]="searchText" (change)="onSearchPrinted()">
        <div style="margin-bottom: 16px;">{{ matchesCount }} matches</div>
    </fieldset>
    <fieldset style="margin-bottom: 16px;">
        <p>Padding</p>
        <select class="element" [(ngModel)]="chosenPadding" (change)="onPaddingChosen()">
            <option *ngFor="let padding of paddings" [ngValue]="padding">
                {{ padding }}
            </option>
        </select>
        <p>Font size</p>
        <select class="element" [(ngModel)]="chosenFontSize" (change)="onFontSizeChosen()">
            <option *ngFor="let fontSize of fontSizes" [ngValue]="fontSize">
                {{ fontSize }}
            </option>
        </select>
    </fieldset>
    <fieldset style="margin-bottom: 16px;">
        <p>Metadata</p>
        <div style="margin-bottom: 16px;" #metadata></div>
    </fieldset>
</aside>
<footer>
    Created by <a id="profile-link" href="https://github.com/androidovshchik" target="_blank">Vlad Kalyuzhnyu</a>
</footer>
<a id="icon-link" href="https://github.com/androidovshchik/AngularEpubViewer" target="_blank">
    <img src="{{ getGithubIcon() }}" width="30" height="30"/>
</a>